/*
-------------------------
RESET | OVERRIDES 
-------------------------
*/

/* Box-sizing */

*,
::before,
::after {
  box-sizing: border-box;
}

/* Reset Margins*/
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure {
  margin: 0;
}

/* Setup the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.3rem;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

/* Make form elements easier to work with*/
button,
input,
select,
textarea {
  font: inherit;
}

/*
-------------------------
UTILITY CLASSES
-------------------------
*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2em;
}

.border-radius {
  border-radius: 0.31rem;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.margin-top{
  margin-top: 0.625em;
}

/* Colors */
.bg-white {
  background-color: #fefefe;
}
.bg-blue {
  background-color: #0077ef !important;
}
.bg-dark {
  background-color: #283747 !important;
}
.text-white {
  color: #ffffff;
}

.text-dark {
  color: #283747;
}
.color-gold {
  color: #ffc300;
}

/* Font sizes */
.text-small {
  font-size: 1.025rem;
}

