.nav__item {
  margin-top: 0.5em;
}
.nav__item--wrapper {
  display: flex;
  align-items: center;
}
.icon__wrapper {
  display: inline-block;
  padding-right: 0.5em;
}
.nav__link {
  text-decoration: none;
  align-self: center;
}
.nav__link:hover {
  text-decoration: underline;
}
